isaacgym/
.ipynb_checkpoints/
.vscode/
*img
*__pycache__*
fbx/
cmu_fbx_all/
*zip
*ipynb
npy
pkl
phc/

motion_data/

ignore/

track_dataset/

*.pt
*.log

debug.mp4

MUJOCO_LOG.TXT

for_joao/

data_recorded/

PythonClient/

avp_teleoperate/

unitree_IL_lerobot/

retarget_lib/

body_models/

joao_data/

deploy_real/datasets
lerobot/lerobot_twist_dataset
lerobot/outputs

ubisoft-laforge-animation-dataset/

*.out

videos/


logs/

ProtoMotions/

motion_generation_data/


# motion-vae/

vr_data/

mocap_data/

mocap_data_g1/

unitree_description/


zed_videos/

TWIST2_motion_data/

TWIST2-clean/

unitree_sdk2/

twist2_demonstration/